body {
  font-family: "Ubuntu Beta",UbuntuBeta,Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,sans-serif;
  background-color: #d2d3d4;
}

#container {
  background-color: white;
  width: 760px;
  margin: 0 auto;
  padding-left:   5px;
  padding-right:  5px;
  padding-bottom: 5px;
}

#header {
  text-align: right;
  font-size: 66%;
}

/* navbar items are the tabs at the top of the page */
#navbar ul {
  list-style: none outside none;
  padding:0;
  margin:0;
}

#navbar li {
  float: left;
  border: 1px solid;
  border-bottom-width: 0;
  margin: 0 0.5em 0 0;
  border-color: #bbbbbb;
}

#navbar li a {
  padding: 0 1em;
  text-decoration: none;
}

#navbar #selected {
  position: relative;
  top: 1px;
  border-color: black;
  background-color: white;
}

/* content is the main page body */
#content {
  border: 1px solid;
  clear: both;
}

.main_fieldset {
  background-color: white;
  border: 0;
}

#rounds li {
  display: inline;
}

table#games {
  width: 100%;
}

#games .tipped {
  font-weight: bold;
}

#games .home_team {
  text-align: right;
}

#games .away_team {
  text-align: left;
}

#games .vs {
  text-align: center;
}

#games .venue,
#games .time {
  font-size: 70%;
}

#games .time {
  text-align: right;
}
