body {
    font-family: "Ubuntu Beta",UbuntuBeta,Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,sans-serif;
    background-color: #d2d3d4;
}

.main_fieldset {
    background-color: white;
    text-transform: lowercase;
    border-width: 2px;
    border-color: red;
    border-style: inset;
}

#rounds li {
    display: inline;
}
