<!doctype html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>[% page.title || "Your default title goes here" %]</title>
        <link rel="stylesheet" href="/static/style.css" media="all">
    </head>
    <body>
<h1>[% page.title %]</h1>
[% content %]
    </body>
</html>
